/*Estilos Generales*/

 *{
    font-family: "Michroma", sans-serif; 
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
 }



/* Header */


/* Main */

.oscar-tocando{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    padding-top: 2rem;
}


.card{
    display: flex;
    flex-direction: column;
    background-color: #aa1919;
}





